<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!--Data Table-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <nav>
            <div class="nav-wrapper purple darken-3">
                <!--Logo Credits: https://www.brandcrowd.com/logo-design/details/28933-->
                <a href="#!" class="brand-logo center"><img src="../assests/images/logo.jpg" height="65em"></a>
                <ul class="hide-on-med-and-down">
                    <li class="left">
                        <a href="index.html">MANS<small> Health Tracking System</small></a>
                    </li>
                </ul>
                <ul class="hide-on-med-and-down right">
                    <li style="margin-right:1em;">
                            <button class="btn waves-effect waves-light purple accent-3" type="submit" name="logout">
                            <i class="material-icons left">group</i> Dr. Jorge Toro
                        </button>
                    </li>
                    <li>
                        <button class="btn waves-effect waves-light" type="submit" name="logout" style="margin-right: 2em;">
                        Logout <i class="material-icons right">keyboard_tab</i>
                        </button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="card horizontal">
            <div class="card-stacked">
                    <h3 style="position:absolute; margin-left: 14em; margin-top: 0em; 
                    margin-bottom:4em;padding-top: 0.4em;">Home</h3>
            </div>
        </div>

        <div class="row">
            <div class="col s4 m2"></div>
                <div class="col s8 m5" style="margin-top: 5em;">
                <div class="input-field">
                    <input id="search" type="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </div>
            <div class="col s2 m1"></div>
                <div class="col s4 m2" style="margin-top: 5em;">
                <a href="addpatient.html" class="btn btn-large waves-effect waves-light green">
                    <i class="material-icons">add</i> Add Patient
                </a>
            </div>
            <div class="col s4 m2"></div>
        </div>

        <div class="row">
            <div class="col s2 m1"></div>
            <div class="col s12 m10">
                <div class="card">
                    <div class="card-content ">
                        <span class="card-title">List of Patients:</span>
                        <!--Data Table-->
                        <table id="patients" class="display" style="width:100%">
                            <thead>
                                <tr>
                                <th>Photo</th>
                                <th>Patient Information</th>
                                <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="width:15%;"><img src="../assests/images/logo.jpg" style="height: 8em;"></td>
                                    <td>
                                        <p>
                                            Name: ABCD
                                        </p>
                                        <p>
                                            DOB: 10-10-1990
                                        </p>
                                        <p>
                                            Last visited: 10-10-2018
                                        </p>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="btn-floating btn-large waves-effect waves-light yellow">
                                            <i class="material-icons">insert_chart</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light green">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light red">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:15%;"><img src="../assests/images/logo.jpg" style="height: 8em;"></td>
                                    <td>
                                        <p>
                                            Name: ABCD
                                        </p>
                                        <p>
                                            DOB: 10-10-1990
                                        </p>
                                        <p>
                                            Last visited: 10-10-2018
                                        </p>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="btn-floating btn-large waves-effect waves-light yellow">
                                            <i class="material-icons">insert_chart</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light green">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light red">
                                            <i class="material-icons">delete_forever</i>
                                        </button>   
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:15%;"><img src="../assests/images/logo.jpg" style="height: 8em;"></td>
                                    <td>
                                        <p>
                                            Name: ABCD
                                        </p>
                                        <p>
                                            DOB: 10-10-1990
                                        </p>
                                        <p>
                                            Last visited: 10-10-2018
                                        </p>
                                    </td>
                                    <td style="width: 20%;">
                                        <button class="btn-floating btn-large waves-effect waves-light yellow">
                                            <i class="material-icons">insert_chart</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light green">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button class="btn-floating btn-large waves-effect waves-light red">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Photo</th>
                                    <th>Patient Information</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s4 m1"></div>
        </div>



        <!-- Jquery Core Js -->
        <script src="../assests/jquery/jquery.min.js"></script>

        <!--Custom JS-->
        <script src="../assests/js/custom.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!--Data Table-->
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

    </body>
</html>