<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <nav>
        <div class="nav-wrapper purple darken-3">
            <!--Logo Credits: https://www.brandcrowd.com/logo-design/details/28933-->
            <a href="#!" class="brand-logo center"><img src="../assests/images/logo.jpg" height="65em"></a>
            <ul class="hide-on-med-and-down">
                <li class="left">
                    <a href="index.html">MANS<small> Health Tracking System</small></a>
                </li>
            </ul>
            <ul class="hide-on-med-and-down right">
                <li style="margin-right:1em;">
                    <button class="btn waves-effect waves-light purple accent-3" type="submit" name="logout">
                        <i class="material-icons left">group</i> Dr. Jorge Toro
                    </button>
                </li>
                <li>
                    <button class="btn waves-effect waves-light" type="submit" name="logout" style="margin-right: 2em;">
                        Logout <i class="material-icons right">keyboard_tab</i>
                    </button>
                </li>
            </ul>
        </div>
    </nav>

    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-stacked">
                <i class="material-icons" style="padding-top:0.5em;padding-bottom:0.5em;">
                    <a href="home.html" class="btn-floating btn-large waves-effect waves-light red">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </i>
                <h3 style="position: absolute;margin-left: 11.5em;margin-top: 0em; padding-top: 0.4em;">Patient Information</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card" style="width: 42em;">
                <div class="card-image">
                    <img src="../assests/images/logo.jpg" style="height: 28em;">
                </div>
                <div class="card-action">
                    <a href="#">Edit</a>
                </div>
            </div>
        </div>
        
        <div class="col s4 m5">
            <div class="row">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Patient Information:</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Notes:</span>
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="diagnostics">
                    Show Diagnostics <i class="material-icons bottom">insert_chart</i>
                </button>
            </div>
        </div>
    </div>





    <!-- Jquery Core Js -->
    <script src="../assests/jquery/jquery.min.js"></script>

    <!--Custom JS-->
    <script src="../assests/js/custom.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>